{% extends "base.html" %}

{% block header %}
    <title>poesía</title>
{% endblock %}

{% block bodytitleoptions %}
    <!-- aca va la opcion de logout -->
{% endblock %}

{% block bodyheader %}
    <h1 class="display-5 fw-bolder text-white mb-2"> Cargá tu poema! </h1>
    <p class="lead text-white-50 mb-4"> A continuación, cargá los datos de tu poema. </p>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        </div>
{% endblock %}

{% block bodyoptions %}
    <div class="space2">
    </div>
    <div class="container px-5 my-5">
        <div class="row gx-5">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>{{message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form class="bodyoptionstitle" action="{% url "CrearPoesia" %}" method="post"
                  enctype="multipart/form-data"> {% csrf_token %}
                <table style="width:100%">
                    {{ formCargarPoesia.media }}

                    {% for field in formCargarPoesia %}
                       <tr>
                            {% if field.label == "Nombre del poema" %}
                            <th> Nombre del poema <em>*</em> </th>
                            {% endif %}

                            {% if field.label == "Autor del poema" %}
                            <th> Autor/a del poema <em>*</em> </th>
                            {% endif %}

                            {% if field.label == "Descripción del poema" %}
                            <th> Descripción del poema <em>*</em> </th>
                            {% endif %}

                            {% if field.label == "ImgLit" %}
                            <th> Imagen poema <em>*</em> </th>
                            {% endif %}

                            <th>{{ field }}</th>
                            <th>{{ field.media }}</th>
                       </tr>
                    {% endfor %}
                </table>
                <br>
                <label style="color: black;"> Los campos son * son obligatorios. </label> <br>
                <p><input type="submit" value="Guardar" onclick="validate()"/></p>
            </form>
        </div>
    </div>
{% endblock %}