{% extends "index.html" %}

{% block headertitle %}
<title>Cinematografía</title>
{% endblock %}

{% block bodytitleoptions %}

{% endblock %}

{% block bodyheader %}
<h1 class="display-5 fw-bolder text-white mb-2">Pelicula elegida</h1>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
</div>
{% endblock %}
{% block bodyoptions %}

<section>
    <div class="datos-cinem">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form class="bodyoptionstitle" action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <table style="width:100%">
                        {{ Cine_Form.media }}
                        <tr>
                            <th class="thdata">Título</th>
                            <td class="tddata">{{cine.title_movie}}</td>
                        </tr>
                        <tr>
                            <th class="thdata">Director/a</th>
                            <td class="tddata">{{cine.direc_movie}}</td>
                        </tr>
                        <tr>
                            <th class="thdata">Descripcion</th>
                            <td class="tddata">{{cine.descr_movie|safe}}</td>
                        </tr>
                        <tr>
                            <th class="thdata">Imagen</th>
                            {% if cine.img_movie.ImgCine.url != "" %}
                            <td class="tddata"><img src="{{ cine.img_movie.ImgCine.url }}" alt="" width="40px"
                                                    height="40px"></td>
                            {% else %}
                            <td class="tddata">No image</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="thdata">Fecha de creacion</th>
                            <td class="tddata">{{cine.creationdate_movie}}</td>
                        </tr>
                        <tr>
                            <th class="thdata">User creado</th>
                            <td class="tddata">{{cine.user_movie}}</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}