{% extends "base.html" %}

{% block headertitlle %}
<title>Fotografias</title>
{% endblock %}

{% block bodytitleoptions %}

{% endblock %}

{% block bodyheader %}
<h1 class="display-5 fw-bolder text-white mb-2">Modifique su fotografia</h1>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
</div>
{% endblock %}
{% block bodyoptions %}
<section>
    <div class="datos-foto">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form class="bodyoptionstitle" action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <table style="width:100%">
                        {{ formFoto.media }}
                        {% for field in formulariofoto %}
                        <tr>
                            {% if field.label == "Titulo" %}
                            <th> Titulo <em>*</em></th>
                            {% endif %}
                            {% if field.label == "Autor" %}
                            <th> Autor <em>*</em></th>
                            {% endif %}
                            {% if field.label == "Descripcionmusica" %}
                            <th>Descripcion <em>*</em></th>
                            {% endif %}
                            {% if field.label == "imgfot" %}
                            <th>Imagen</th>
                            {% endif %}
                            <th>{{ field }}</th>
                            <th>{{ field.media }}</th>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    {% if foto.ImgFoto.imgfot.url != "" %}
                    <th><img src="{{ foto.ImgFoto.imgfot.urll }}" alt="" width="50px" height="50px"></th>
                    {% else %}
                    <td class="tddata"></td>
                    {% endif %}
                    <br> <br>
                    <label style="color: black;">Los campos con * son obligatorios.</label><br>
                    <p><input type="submit" value="Modificar" onclick="validate()"/></p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}